* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Lora', serif;

}
header{
    margin:50px;
    margin-top: 100px;
    font-size: 65px;
    /* font-weight: bold; */
    color:rgba(53, 56, 230, 0.852);
    /* font-family: sans-serif; */
    font-family: 'Lora', serif;
}

body{
    text-align: center;
    background-color:rgb(218, 222, 230);
}
.form #work{
    padding-left: 10px;
    color:white;
    font-weight: bolder;
    font-size: large;
    font-family: 'Source Sans 3', sans-serif;
    width:30vw;
    height:45px;
    background-color: rgb(33, 69, 103);
    border:none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.form button{
    height:50px;
    font-weight: bold;
    border:none;
    font-size: x-large;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width:100px;
    background-color: rgb(101, 101, 243);
}
.list{
    display:flex;
    justify-content:center;
    margin-top:70px;
}
.list ul {
    list-style-type: none;
    width:50vw;
}

.list ul li{
    background-color: rgba(32, 129, 219, 0.925);
    color:rgb(221, 212, 212);
    font-size: large;
    font-weight: bold;
    border-radius:20px;
    padding:10px;
    margin:6px;
    display: flex;
    justify-content: space-between;
}
.edited{
    width:45vw;
    background-color: rgba(32, 129, 219, 0.925);
    color:rgb(221, 212, 212);
    font-size: large;
    font-weight: bold;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    padding:10px;
    margin:5px;

}
